.Profile_Main{
color: #fff;
padding: 2vh;
}

.wrapper{
  display: flex;
  padding-top: 1vh;
  height: 60vh;
  width: 120vh;
}

.commentsContainer{
padding-top: 2vh;
}
.commentsMain{
  width: 120vh;
  height: 49vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

