
.Header_Main{
    padding: 15px;
    background-color: black;
}
.Header_Container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size:30px;
    color: white;
}
a
{
    color: white;
    text-decoration: none;
}