:root{
    --padding-block:14vh;
}

.Body_Main
{   
    padding-top: var( --padding-block);
    padding-bottom: var( --padding-block);
    display: flex;
    align-items: center;
    justify-content: center;
}
