.MainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 3vh;
    padding-left: 10vh;
    padding-right: 10vh; 
    
}
.MainPage_container{
  padding-top: 5vh;
}