.Registration_Button{
    margin:6vh;
}
button:not([class]) {
    padding: 2vh 4vh;
    text-transform: uppercase;
    color: #fff;
    font-size: 2vh;
    background-color: #111112;
    border: 4px solid #1e88e5;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: .3s;
    outline: none;
}

button:not([class]):hover{
    background-color: #1e88e5;
}

button:not([class]):before, button:not([class]):after{
    position: absolute;
    content: '';
    width: 20%;
    height: 50%;
    transition: .3s;
    z-index: -1;
}

button:not([class]):before{
    border-bottom: 4px solid #1e88e5;
    border-left: 4px solid #1e88e5;
    top: 60%;
    left: -5%;
}

button:not([class]) :after{
    border-top: 4px solid #1e88e5;
    border-right: 4px solid #1e88e5;
    bottom: 60%;
    right: -5%;
}

button:not([class]):active:before {
    top: 65%;
    left: -8%;
}

button:not([class]):active:after {
    bottom: 65%;
    right: -8%;
}

button:not([class]):active:before, button:not([class]):active:after {
    width: 30%;
    height: 60%;
}