/* Header Zone */

a {
  text-decoration: none;
  /* Убираем подчёркивание */
  color: white;
}

.Header_Block {
  background-color: black;
  border: 2px solid black;
  line-height: 26px;
}

.Logo_Emigrant {
  color: white;
  padding-right: 50px;
  padding-left: 50px;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}



.Search_work {
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.Search_work:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: grey;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Search_work:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Find_Emigrant {
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.Find_Emigrant:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: grey;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Find_Emigrant:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Registration {
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
}

<<<<<<< HEAD
.Footer{
  background-color: antiquewhite;
  text-align:center;

=======
.Registration:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: grey;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}
>>>>>>> 0be7ad731c3ce0ae6be7b1e163ce17863ef40871

.Registration:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Authorization {
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;

}

.Authorization:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: grey;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Authorization:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.AutoRegPosition {
  display: inline-block;
  text-align: right;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.Navigation_header {
  text-align: left;
  display: inline-block;
  width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer Zone */

.Footer {
  background-color: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.Navigation_footer {
  text-align: center;
  display: inline-block;
  width: 1285px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Help {
  padding-right: 25px;
  padding-left: 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;

}

.Help:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: grey;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Help:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}




.Contacts {
  padding-right: 25px;
  padding-left: 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;

}

.Contacts:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: grey;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.Contacts:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}


.About_us {
  padding-right: 25px;
  padding-left: 25px;
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;

}

.About_us:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: grey;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

.About_us:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: white;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}